@font-face {
	font-family: "Bariol";
	src: url("../fonts/Bariol_Regular/Bariol_Regular.otf");
}

@font-face {
	font-family: "Hero";
	src: url("../fonts/Hero/Hero.otf");
}

@font-face {
	font-family: "Hero Light";
	src: url("../fonts/Hero/Hero Light.otf");
}

@font-face {
	font-family: "Josefin Slab";
	src: url("../fonts/JosefinSlab-Regular.ttf");
}



.active-page {
	background-color: rgba(255,255,255,155);
}

.row {
	margin-bottom: 0;	
	padding-top: 10%;
	padding-bottom: 10%;
}

body,
html {
	width: 100%;
	height: 100%;
	left: 0;
	margin: 0;
	overflow-x: hidden;
	position: relative;
	font-size: 16px;
}

.divlink {
	display: block;
	color: black;
}

.jumbotron .col {
	margin-left: 48%;
	top: 5%;
}

.jumbotron h1 {
	padding-left: 100%;
}

.main-heading {
	font-family: "Bariol", sans-serif;
	font-size: 9.375em;
	margin-top: 0px;
	padding-top: 25px;
}

.second-heading {
	font-size: 4.688em;
	font-family: "Hero Light", sans-serif;
}

.jumbotron {
	height: 100%;
}


/* menu stuff */

.menu {
	left: -285px;
	/* start off behind the scenes */
	height: 100%;
	position: fixed;
	width: 285px;
	background-color: #191919;
	border: #000;
}

.menu ul {
	border-top: 1px solid #0d47a1;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid #0d47a1;
	font-family: 'Lato', sans-serif;
	line-height: 55px;
}

.menu a {
	color: #fff;
	font-size: 0.938em;
	padding-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-close {
	cursor: pointer;
	padding-left: 20px;
	font-size: 32px;
}

.icon-close .mega-octicon {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

.icon-menu {
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	margin-top: 5%;
	padding-bottom: 25px;
}

.menu li {
	box-sizing: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
}

.menu li a {
	box-sizing: padding-box;
	display: block;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0);
}

.menu li a:focus {
	text-decoration: none;
}

.menu li a .octicon,
.menu li a .fa {
	padding-right: 10px;
	font-size: 25px;
}


/* Code */


/* Blinking Cursor */

@-webkit-keyframes blink {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes blink {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.blinker {
	-webkit-animation: blink 1s infinite;
	animation: blink 1s infinite;
}


/* The div */

.code-h1 {
	font-family: "Inconsolata";
	font-size: 7.5em;
	color: #00E100;
}


.code-h4 {
	font-family: "Hero", sans-serif;

}

.code a {
	font-family: "Hero", sans-serif;
	font-size: 1.563em;
	color: black;
}


/* Pointing button */

.pointer {
	-webkit-transition: all .2s cubic-bezier(.5, .34, .49, .6);
	transition: all .2s cubic-bezier(.5, .34, .49, .6);
}

.pointer:hover {
	padding-left: 20px;
}


/* Writing */


.write .s6 h1 {
	font-size: 7.5em;
	font-family: "Josefin Slab";
}

.write h3 {
	font-family: "Hero", sans-serif;
}

.write a {
	font-family: "Hero", sans-serif;
	font-size: 1.563em;
}

.write h1 span {
	font-size: 6em;

}

.waves-effect.waves-brown .waves-ripple {
	/* The alpha value allows the text and background color
     of the button to still show through. */
	background-color: rgba(13, 71, 161, 0.8);
}

.contact h1 {
	font-family: "Bariol", sans-serif;
	font-size: 7.5em;
}

.contact .l5 h1 {

	-webkit-animation: shake 0.5s infinite;
	animation: shake 0.5s infinite;
}

.contact h3 {
	font-family: "Hero", sans-serif;
}

.contact a {
	font-family: "Hero", sans-serif;
	font-size: 1.563em;
}

@-webkit-keyframes shake {
	from {
		-webkit-transform: rotate(-0.7deg);
		transform: rotate(-0.7deg);
	}
	50% {
		-webkit-transform: rotate(0.7deg);
		transform: rotate(0.7deg)
	}
	to {
		-webkit-transform: rotate(-0.7deg);
		transform: rotate(-0.7deg);
	}
}

@keyframes shake {
	from {
		-webkit-transform: rotate(-0.7deg);
		transform: rotate(-0.7deg);
	}
	50% {
		-webkit-transform: rotate(0.7deg);
		transform: rotate(0.7deg)
	}
	to {
		-webkit-transform: rotate(-0.7deg);
		transform: rotate(-0.7deg);
	}
}

.shadowed {
	text-shadow: 5px 5px #616161;
}



.blog h1 {
	font-size: 5em;
	font-family: "Lato", sans-serif;
	margin-top: 0px;

}

.blog .btn {
	font-family: "Hero", sans-serif;
	font-size: 1.563em;
}

.blog h3 {
	font-family: "Lato", sans-serif;
}

footer {
	margin-top: 0px !important;
	font-family: "Hero", sans-serif;
}


/* Media Queries */

@media screen only and (max-width: 600px) {
	.code h1 {
		font-size: 6em;
	}
	.code a {
		font-size: 0.7em;
	}

}